argcomplete==3.7.0
attrs==26.1.0
autocommand==2.2.2
Automat==25.4.16
beautifulsoup4==4.15.0
Brotli==1.2.0
btrfsutil==7.1
certifi==2026.6.17
cffi==2.1.0
chardet==6.0.0.post1
charset-normalizer==3.4.7
click==8.3.3
constantly==23.10.4
contourpy==1.3.3
cryptography==49.0.0
curl_adapter==1.2.1
curl_cffi==0.15.0
cycler==0.12.1
displaycal==3.9.17
distro==1.9.0
dnspython==2.8.0
evdev==1.9.3
eventlet==0.41.0
filelock==3.29.3
fonttools==4.63.0
FVS==0.3.4
gevent==26.5.0
greenlet==3.5.1
hyperlink==21.0.0
icoextract==0.3.0
idna==3.18
ifaddr==0.2.0
Incremental==24.11.0
kiwisolver==1.5.0
libevdev==0.13.1
libinput_gestures_qt==0.4
lxml==6.1.1
Markdown==3.10.2
markdown-it-py==4.0.0
matplotlib==3.11.0
mdurl==0.1.2
moddb==0.15.0
more-itertools==11.1.0
numpy==2.5.1
orjson==3.11.9
packaging==26.2
pathvalidate==3.3.1
patool==4.0.5
pefile==2024.8.26
pillow==12.3.0
platformdirs==4.10.1
pycairo==1.29.0
pycparser==3.0
pycurl==7.47.0
Pygments==2.20.0
PyGObject==3.56.3
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5_sip==12.18.0
PyQt6==6.11.0
PyQt6_sip==13.11.1
python-dateutil==2.9.0
python-steamgriddb==1.0.5
pyudev==0.24.4
PyYAML==6.0.3
QTermWidget==2.4.0
QtPy==2.4.3
requests==2.34.2
rich==15.0.0
Send2Trash==1.8.3
setuptools==83.0.0
six==1.17.0
smbus==1.1
soupsieve==2.8.4
Twisted==26.4.0
typing_extensions==4.16.0
urllib3==2.7.0
VapourSynth==77
vdf==4.0
vici==6.0.7
vkbasalt-cli==3.1.1
wheel==0.47.0
wxPython==4.2.5
yara-python==4.5.5
zeroconf==0.149.1
zope.event==6.2
zope.interface==8.5
girepository=2.0
