<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 5px; background-color: #101010;">
    <div style="background-color: #333333; padding: 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
        <h1 style="color: #965209; margin-bottom: 20px;">Welcome to FurTube</h1>
        <img src="https://r4ymbmvtbj2c.share.zrok.io/static/images/orange_main_full_logo.png" alt="Furtube Logo" style="width: 300px; margin:auto; display:block;">
        <h4 style="color: #666; line-height: 1.6;">
            Hello {user.username},<br><br>
            You are now a member of the <b>furtu.be</b> community.<br><br>
            In furtube you can upload all sorts of fur-y activity, your cat doing silly things, maybe a fantastic drawing of your pet, your dog chasing its tail or even your hampster running on the wheel while reaching speeds of a race car!
            Thank you for signing up to our site!
            <br><br> 
            Have fun!
            And incase you haven't read the terms of service, which you definately didn't please read the<a href="localhost:5000/terms-of-service/">Terms Of Service</a>
        </h4>
        <p style="color: #999; font-size: 15px; margin-top: 30px; border-top: 1px solid #eee; padding-top: 20px;">
            If you did not sign-up to furtube using this e-mail contact our <a href="localhost:5000/login">support</a>. Thank you.
        </p>
    </div>
</div>
