{%extends 'base.html'%}
{%block context%}
<br>
<br>
<div class="center-row ">
    <div class="col-md-3 " style="width: 95%; ">
        <div class="tab-pane fade show active" id="all " role="tabpanel" aria-labelledby="all-tab" style="justify-content: center; ">
            
                <!-- all videos  -->
            <a href="/watch/#" class="d-block text-decoration-none text-reset">
                <div class="card mb-3" style="max-width: 500px;">
                    <div class="ratio ratio-16x9">
                        <img src="/static/images/preset_thumpnail.png" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;" alt="thumpnail">
                    </div>
                    <div class="card-body px-0">
                        <h5 class="card-title mb-1" style="font-size: 16px;">Title of the intresting video..</h5>
                        <small class="text-body-light">100 Views • 1 Hour ago</small>
                    </div>
                </div>
            </a>
            <a href="/watch/#" class="d-block text-decoration-none text-reset">
                <div class="card mb-3" style="max-width: 500px;">
                    <div class="ratio ratio-16x9">
                        <img src="/static/images/preset_thumpnail.png" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;" alt="thumpnail">
                    </div>
                    <div class="card-body px-0">
                        <h5 class="card-title mb-1" style="font-size: 16px;">Title of the intresting video..</h5>
                        <small class="text-body-light">100 Views • 1 Hour ago</small>
                    </div>
                </div>
            </a>
            <a href="/watch/#" class="d-block text-decoration-none text-reset">
                <div class="card mb-3" style="max-width: 500px;">
                    <div class="ratio ratio-16x9">
                        <img src="/static/images/preset_thumpnail.png" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;" alt="thumpnail">
                    </div>
                    <div class="card-body px-0">
                        <h5 class="card-title mb-1" style="font-size: 16px;">Title of the intresting video..</h5>
                        <small class="text-body-light">100 Views • 1 Hour ago</small>
                    </div>
                </div>
            </a>
            <a href="/watch/#" class="d-block text-decoration-none text-reset">
                <div class="card mb-3" style="max-width: 500px;">
                    <div class="ratio ratio-16x9">
                        <img src="/static/images/preset_thumpnail.png" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;" alt="thumpnail">
                    </div>
                    <div class="card-body px-0">
                        <h5 class="card-title mb-1" style="font-size: 16px;">Title of the intresting video..</h5>
                        <small class="text-body-light">100 Views • 1 Hour ago</small>
                    </div>
                </div>
            </a>
            </div>
        </div>
    </div>
</div>
{%endblock%}
