{%extends 'base.html'%}
{%block context%}
<br>
<div style="display: flex; align-items: center; justify-content: center;">
    <div style="width: 100%; max-width: 2200px; height: 100%; min-height: 1100px; background-color:#000000; border-radius: 10px;" class="settings-container">

        <div style="min-width: 30px;">
            <ul class="list-group">
                <a href="?tab=general" class="list-group-item">
                    <h1 style="vertical-align: text-bottom;">Settings<small style=" font-size: 15px; vertical-align: text-top; color: #965209;">BETA</small></h1>
                </a>
                <a href="?tab=general" class="list-group-item">General</a>
                <a href="?tab=security" class="list-group-item">Security</a>
                <a href="?tab=limitations" class="list-group-item">My Limits</a>
                <a href="?tab=help" class="list-group-item">Help</a>
                <a href="?tab=account-standing" class="list-group-item">Account Standing</a>
            </ul>
        </div>
    
        <div style="min-width: 320px;">
            

            

            <section id="general">1</section>

            <div style="text-align: center;" class="text-align-center">
                <br>
                <div style="justify-content: center; display: flex; ">
                    <div style="text-align: left; width: 80%;">
                        <form action="POST">
                    {% if active == "general"%}
                            <h2>General</h2>
                        </div>    
                    </div>
                    <div style="justify-content: center; display: flex; ">
                        <div style="text-align: left; width: 60%;">
                            <h4>Basic Info:</h4>
                            <br>
                            <h5>Profile picture</h5>
                            <div>
                                <div style="justify-content: center; display: flex; ">
                                    <div style="justify-content: center; display: flex; width: 70%;">
                                        <img src="/static/images/template_pfp.png" class="card-img-top rounded-circle" style="height: 150px; width: 150px;">
                                    </div>
                                </div>
                            </div>
                            <h5>Username</h5>
                                <div style="justify-content: center; display: flex; ">
                                    <div style="justify-content: center; display: flex; width: 70%;">
                                        <input type="text" name="handle" value="{{current_user.username}}" placeholder="Make a memorable username" class="form-control setting-input">
                                    </div>
                                </div>
                            <h5>Handle</h5>
                            <div>
                                <div style="justify-content: center; display: flex; ">
                                    <div style="justify-content: center;  width: 70%;">
                                        <input type="text" disabled name="handle" value="{{current_user.handle}}" placeholder="Create a unique handle" class="form-control setting-input">
                                        <small>To change your handle you need to contuct <a href="?tab=help" style="color: floralwhite;">support</a>.</small>
                                    </div>
                                </div>
                            </div>
                            <h5>Email address</h5>
                            <div>
                                <div style="justify-content: center; display: flex; ">
                                    <div style="justify-content: center; display: flex; width: 70%;">
                                        <input type="text" name="handle" value="{{current_user.email}}" placeholder="Insert a valid email" class="form-control setting-input">
                                    </div>
                                </div>
                            </div>
                            <h5>Password</h5>
                            <div>
                                <div style="justify-content: center; display: flex; ">
                                    <div style="justify-content: center;  width: 70%;">
                                        <input type="password" value="{{current_user.password}}" placeholder="Insert an unbreakable password." autocomplete="current-password" id="password" name="password" class="form-control setting-input">
                                        <br>
                                        <input type="password" value="{{current_user.password}}" placeholder="Re-enter that unbreakable password." autocomplete="current-password" id="password2" name="password" class="form-control setting-input">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div>
                                <div style="justify-content: center; display: flex; ">
                                    <div style="justify-content: center;  width: 70%;">
                                        <button type="submit" class="btn btn-primary btn-light setting-input" style="width: 100%;">Submit changes</button>
                                    </div>
                                </div>
                            </div>
                            


                            
                    {% elif active == "security"%}
                            <h2>Security</h2>
                            </div>    
                        </div>
                        <div style="justify-content: center; display: flex; ">
                            <div style="text-align: left; width: 60%;">
                                <h4>Sessions</h4>
                                <br>
                                <h5>All sessions</h5>
                                <div style="justify-content: center; display: flex; "> 
                                    <div style="width: 75%;">
                                        <ul class="list-group" >
                                        <li class="list-group-item" style="font-size: medium;"><img src="/static/images/device.png" style="width: 20px; height: 20px;" alt="">&nbsp; 123.24.12.0.1 <a href="/logout/?device={{ip}}"><img src="/static/images/logout.png" style="width: 25px; height: 25px; background-color: red; border-radius: 3px;"></a></li>
                                        <li class="list-group-item" style="font-size: medium;"><img src="/static/images/device.png" style="width: 20px; height: 20px;" alt="">&nbsp; 312.45.85.1.5 <a href="/logout/?device={{ip}}"><img src="/static/images/logout.png" style="width: 25px; height: 25px; background-color: red; border-radius: 3px;"></a></li>
                                        <li class="list-group-item" style="font-size: medium;"><img src="/static/images/device.png" style="width: 20px; height: 20px;" alt="">&nbsp; 321.97.12.6.1 <a href="/logout/?device={{ip}}"><img src="/static/images/logout.png" style="width: 25px; height: 25px; background-color: red; border-radius: 3px;"></a></li>
                                    </ul>
                                    </div>
                                    
                                </div>
                                <h5>Logout of all sessions</h5>
                                <div style="justify-content: center; display: flex; ">
                                <div style="justify-content: center;  width: 70%;">
                                        <button class="btn btn-black setting-input" type="button" style="width: 80%; justify-content: center; display: flex;  background-color: #965209; border-radius: 10rem; color: floralwhite;"><a href="" class="navbar-brand">Log out</a></button>
                                        <h6 style="color: floralwhite;">Includes this session.</h6>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <h4>Danger Zone</h5>
                                <br>
                                <h5>Delete account</h5>
                                <div style="justify-content: center; display: flex; ">
                                    <div style="justify-content: center;  width: 70%;">
                                        <button class="btn btn-black setting-input" type="button" style="width: 80%; justify-content: center; display: flex;  background-color: red; border-radius: 10rem; color: floralwhite;"><a href="" class="navbar-brand">Delete Account</a></button> <!-- #web pressed a pupup opens and asks for profile handle and password then redirects to /settings/d-account and in python it q the data from db with the data from popup. if they are identicall then db wipes that user. -->
                                        <h6 style="color: floralwhite;">All data gets deleted. This action is not reversable.</h6>
                                    </div>
                                </div>
                    {% elif active == "limitations"%}
                            <h2>My Limits</h2>
                                </div>    
                            </div>
                            <div style="justify-content: center; display: flex; ">
                                <div style="text-align: left; width: 60%;">
                                    <h4>Comments:</h4>
                                    <div style="justify-content: center; display: flex; ">
                                        <div style="justify-content: center;  width: 70%;">
                                            <button class="btn btn-black setting-input" type="button" style="width: 80%; justify-content: center; display: flex;  background-color: #965209; border-radius: 10rem; color: floralwhite;"><a href="" class="navbar-brand">Comments disabled</a></button>

                                            <h6 style="color: floralwhite;">Press to change setting.</h6>
                                        </div>
                                    </div>
                                    <br>
                                    <h4>Profile type:</h4>
                                    <div style="justify-content: center; display: flex; ">
                                        <div style="justify-content: center;  width: 70%;">
                                            <button class="btn btn-black setting-input" type="button" style="width: 80%; justify-content: center; display: flex;  background-color: #965209; border-radius: 10rem; color: floralwhite;"><a href="" class="navbar-brand">Public account</a></button>

                                            <h6 style="color: floralwhite;">Press to change account type.</h6>
                                        </div>
                                    </div>
                                </div>
                    {% elif active == "help"%}
                                    d
                    {% elif active == "account-standing"%}
                            <h2>Restrictions</h2>
                                </div>    
                            </div>
                            <div style="justify-content: center; display: flex; ">
                                <div style="text-align: left; width: 60%;">
                                    <h4>Email status:</h4>
                                    {%if current_user.verified == 1%}
                                    <h5 style="color: green;">You have verified your email.</h5>
                                    <h5 style="color: green;">You are all set. You can send commends, like and subscribe to other creators.</h5>
                                    
                                    <h4>Account status:</h4>
                                    <h5 style="color: green;">All good. You can create and upload videos.</h5>
                                    <div class="standing-demo-container">
                                        <div style="border-radius: 10px; background-color: green; width: 100%; height: 10px;"></div>
                                        <div style="border-radius: 10px; background-color: #505050; width: 100%; height: 10px;"></div>
                                        <div style="border-radius: 10px; background-color: #505050; width: 100%; height: 10px;"></div>
                                        <div style="border-radius: 10px; background-color: #505050; width: 100%; height: 10px;"></div>
                                        <div style="border-radius: 10px; background-color: #505050; width: 100%; height: 10px;"></div> 
                                    </div>
                                    <br>
                                    <h6>You will be notified if you break any rules.</h6>
                                    {%else%}
                                    
                                    <h5 style="color: red;">You haven't verified your email yet. Verify to gain full access to features.</h5>
                                        <h6 style="text-align: center;"> Users have 7 days to verify thier account. If they don't thier account gets deleted.</h6>
                                    <div style="justify-content: center; display: flex; ">
                                    <button class="btn btn-black" type="button" style="width: 40%; justify-content: center; display: flex;  background-color: #965209; border-radius: 10rem; color: floralwhite;"><a href="https://www.{{mail_provider}}" class="navbar-brand">Verify account</a></button>
                                    </div>
                                    {%endif%}

                    {%endif%}
                        </form>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

</div>
<br>
&nbsp; &nbsp; &nbsp;
{%endblock%}
