{%extends 'base.html'%}
{%block context%}
<br>
<br>
<br>
<div style="width: 50%; max-width: 1000px; padding: 1%; display: block; margin: auto;">
    <h2 id="exampleModalLabel" style="font-weight: bold;">Furtube Terms Of Service And Community Guidelines</h2> 
    <br>
    <h4>Last Updated <time datetime="2026-07-17 16:20">17 July 2026</time></h4>
    <h5>Welcome to Furtube. Please read the TOS and Community Guidelines carefully.</h5>
    <li>
        <h4>Age Eligibility:</h4>
    </li>
    <h5>
        Furtube is intended for users who are above the age of fifteen (15) years or older. By signing up or using the platform, you represent and warrant that you meet this minimum age requirement, or the legal minimum age required for accessing social media platforms within your Country/State, whichever is higher.
    </h5>
    <li>
        <h4>Content Maturity and Restrictions:</h4>
    </li>
    <h5>
    Users are encouraged to share their own creative content. Furtube maintains a zero-tolerance policy for explicit material. You may not upload or share any content that contains:
    <ol>
        <ul>
            <li>Sexually explicit, mature, or adult-oriented material.</li>
            <li>Not Safe For Work (NSFW) imagery or text.</li>
            <li>Pornographic content or graphic violence.</li>
            <li>Any sort of nudity content.</li>
        </ul>
    </ol>
    <li><h4>Reporting and Appealing:</h4></li>
    <ol>
        <li>
            <h4>Content Reporting</h4>
            <h5>Content removal is mostly community driven (Users have the power to remove content from the platform if that content got enough removal requests). </h5>
        </li>
        <li>
            <h4>Appealing</h4>
            <h5>If a creator believes that their content was removed unfairly they can request an appeal. A real individual will review the flagged content and:</h5>
            <ul>
                <li>Accept the appeal: reinstate the flagged content.</li>
                <li>Deny the appeal: remove the content completely from the platform. </li>
            </ul>
            <h5>If an account gets flagged multiple times this could lead to account termination.</h5>
        </li>
    </ol>
    <li>
        <h4>Data Collection And Sharing</h4>
        <h5>We (the Furtube team) do not share ANY information that you provide us.
            We want to protect your privacy. Any data you provide while using furtube will be stored locally to our database and will not be shared to any 3rd party companies.</h5>
    </li>
    

    

    
    </h5>
    <div class="modal-body">
        Please abide by the terms of service.
    </div>
</div>
{%endblock%}
