<meta name="color-scheme" content="light">
<meta name="supported-color-schemes" content="light">

<div style="font-family: Arial, sans-serif; border-radius: 10px; max-width: 600px; margin: 0 auto; padding: 5px; background-color: #000000;">
    <div style="background-color: #101010; padding: 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
        <h1 style="color: #965209; margin-bottom: 20px;">Verify account</h1>
        <img src="https://www.furtu.be/static/images/orange_main_full_logo.png" alt="Furtube Logo" style="width: 300px; margin:auto; display:block;">
        <h4 style="color: #ccc; line-height: 1.6;">
            Greetings {{user.username}},<br><br>
            We received a sign-up request using this email. If this was done by you, you have 7 days to verify this email else your account will get deleted.
            By verifing your email you gain the ability to subscribe, send comments to creators, like videos and also upload your own videos.
            <br>
            <br>
            <a href="https://www.furtu.be/auoth/v1/userToken/{{user.verification_token}}/email/link/" style="text-decoration: none;">
            <button type="button" style="width: 100%; display: flex; align-items: center; background-color: #965209; border-radius: 10rem; color: floralwhite; box-shadow: none; border-color: transparent;">
                <span style="flex: 1; text-align: right;"><h2>Verify &nbsp; &nbsp;</h2></span>
                
                <img src="https://www.furtu.be/static/images/verify.png" style="height: 30px; margin-right: 40%;">
            </button>
            </a>
            <br>
            And incase you haven't read the terms of service, which you definitely didn't please read the <a href="https://www.furtu.be/terms-of-service/" style="color: floralwhite;">Terms Of Service</a>.
        </h4>
        <p style="color: #999; font-size: 15px; margin-top: 30px; border-top: 1px solid #eee; padding-top: 20px;">
            If you did not sign-up to furtube using this e-mail contact our <a href="https://www.furtu.be/support" style="color: floralwhite;">support</a>. Thank you.
        </p>
    </div>
</div>